<ion-content [fullscreen]="true">

  <div class="image-container">
    <img src="/assets/images/loginimage.png" alt="App Logo" />
  </div>
<div style="text-align: center;font-size: 25px; font-weight: 600; font-family: Verdana, Geneva, Tahoma, sans-serif; color: rgb(65, 65, 65);">
  Login To Your Account
</div>
  <!-- <form (submit)="onLogin()"> -->
    
    <div class="flex-container">
    <div class="inputContainer">
      <div style="display: inline-flex">Username <div style="color: red; padding-left: 5px;">*</div></div>      
      <ion-input class="input" type="text"  name="username" required></ion-input>
    </div>

    <div class="inputContainer">
      <div style="display: inline-flex">Password <div style="color: red; padding-left: 5px;">*</div></div>      
      <ion-input class="input" type="password"  name="password" required></ion-input>
    </div>


    <div style="display: inline-flex; align-items: center; justify-content: space-between;">      
      <ion-checkbox labelPlacement="end"><p style="font-size: 17px;">Remember me?</p></ion-checkbox>
      <div style="font-size: 17px; color: rgb(29, 79, 126); text-decoration: underline;">Forgot password</div>
    </div>
    




    <div>
      <ion-button (click)="loginPress()" class="submit-button" expand="block" type="submit">LOGIN</ion-button>
    </div>
  </div>
  <!-- </form> -->

  
</ion-content>
