.details {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-family: Montserrat;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 15px;
  color: rgb(102, 102, 102);
  margin-top: 10px;
}

.text-right {
  text-align: right;
}

ion-modal#example-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#example-modal .wrapper {
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column; /* Stack the image and button vertically */
  align-items: center; /* Center them horizontally */
  justify-content: center; /* Center them vertically */
  height: 100%; /* Ensure the wrapper takes full height */
}

.image {
  max-width: 100%; /* Optional: ensure the image fits within the modal width */
  height: auto; /* Maintain the image aspect ratio */
  margin-bottom: 20px; /* Add some space between the image and the button */
}

button {
  padding: 20px; /* Button styling */
  font-size: 16px; /* Button text size */
  background-color: #1b4080; /* Button color */
  color: white; /* Text color */
}
