
ion-content {
  --background: #518ada; 
}

ion-menu ion-item{
  --background: #518ada
}

ion-menu ion-label{
  --color: #fff
}

ion-menu ion-icon {
  --color: #fff;
}

.selected{
font-weight: 800;
}



