<ion-app>
  <ion-split-pane contentId="main-content"  >
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <img src="assets/images/sidebar.png" 
          style="margin-top: -10px;                  
          width: 410px;" 
          />
        <ion-list style="background-color: #518ada; padding-left: 15px; padding-right: 15px;">          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item style="border-bottom: 1px solid white;" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <img 
              [src]="'assets/images/' + p.icon+'.png'" 
              alt="{{ p.title }}" 
              style="width: 24px; height: 24px; margin-right: 12px; filter: brightness(0) invert(1);" 
              slot="start"
            />              
              <ion-label style="font-family: Montserrat;">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        
          <ion-item (click)="requestLogOut()" style="border-bottom: 1px solid white;">
            <img 
            [src]="'assets/images/' + 'logout'+'.png'"           
            style="width: 24px; height: 24px; margin-right: 12px; filter: brightness(0) invert(1);" 
            slot="start"
            /> 
            <ion-label style="font-family: Montserrat">Log Out</ion-label>
          </ion-item>
        
        </ion-list>


      </ion-content>
    </ion-menu>    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>



