
ion-content {
  --background: #518ada; 
}

ion-menu ion-item{
  --background: #518ada
}

ion-menu ion-label{
  --color: #fff
}

ion-menu ion-icon {
  --color: #fff;
}

ion-menu{
  --width: 90%;
}

.selected{
font-weight: 700;
font-family: Montserrat
}
