<ion-header [translucent]="true">
  <ion-toolbar>    
      <div class="top-header">
        <div style="align-items: center; display: flex; gap: 15px;">
          <ion-icon (click)="toggleMenu()" name="menu" style="color: rgb(0, 0, 0); font-size: 25px;"></ion-icon>
          <img src="assets/images/tatalogo.png" alt="">
        </div>
        <div>
          <img src="assets/images/ibmdlogo.png" alt="">
        </div>    </div>
      <div class='bottom-header'>
        <ion-icon (click)="goBack()" name="chevron-back" style="color: white; padding-left: 15px; font-size: 20px;"></ion-icon>
        <div style="color: white; font-weight: 550; font-size: 15px; margin-left: -25px;">Customer Dashboard</div>
        <div>      
        </div>
      </div>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <div class="flex-container">
    
    <div class="inputContainer" *ngIf="roleType == 'TSL' && boolHasCAResponseYes">
      <div style="display: inline-flex; gap: 5px;">Select CA <div style="color: red;padding-left: 5px;">*</div></div>
      <ion-select (ionChange)="getCaId($event)" okText="select" class="input" placeholder="select CA" [(ngModel)]="ca">
        <ion-select-option *ngFor="let ca of caListResponse" [value]="ca">{{ca.CA_Name}}</ion-select-option>
      </ion-select>
    </div>


    <div class="inputContainer" [ngClass]="selectedCaId?'':'inactive'">
      <div style="display: inline-flex; gap: 5px;">Customer <div style="color: red; padding-left: 5px;">*</div></div>
      <ion-input readonly [(ngModel)]="customerName" placeholder="Press to select customer" (click)="openCustomerSelectModal()"  class="input" type="text" ></ion-input>
    </div>

    <div class="inputContainer" [ngClass]="customerCode?'':'inactive'">
      <div style="display: inline-flex">Source <div style="color: red; padding-left: 5px;">*</div></div>
      <ion-select [(ngModel)]="selectedSourceId" class="input" placeholder="Select source" (ionChange)="onSourceSelected($event)">
        <ion-select-option *ngFor="let item of sourceListResponse" value={{item.SourceID}}>{{item.SourceName}}</ion-select-option>
      </ion-select>
    </div>

    <div class="inputContainer" [ngClass]="selectedSourceId?'':'inactive'">
      <div style="display: inline-flex">Product <div style="color: red; padding-left: 5px;">*</div></div>
      <ion-select [(ngModel)]="selectedProductId"  class="input" placeholder="Select product" (ionChange)="onProductSelected($event)">
        <ion-select-option *ngFor="let items of productListResponse" value={{items.ProductID}}>{{items.ProductName}}</ion-select-option>

      </ion-select>
    </div>


    
    <div class="product-price" *ngFor="let priceList of productPriceResponse">
      <span *ngIf="productPriceResponse" style="font-size: 18px; color: #414141; font-weight: 600; text-align: left; margin-top: 5px; font-family: Montserrat; margin-bottom: 15px;">Product Price</span>
      <div class="row">
        <div>Base Price/ MT (INR):</div>
        <div>{{priceList.Rate}}</div>
      </div>
      <div  class="row">
        <div>GST:</div>
        <div>{{priceList.GST}}</div>
      </div>
      <div  class="row">
        <div>CESS:</div>
        <div>{{priceList.CESS}}</div>
      </div>
      <div  class="row">
        <div>Total Amount:</div>
        <div>{{priceList.TotalAmount}}</div>
      </div>
    </div>


    <div>
      <ion-button (click)="proceed()" *ngIf="productPriceResponse" class="submit-button" expand="block" type="submit">PROCEED</ion-button>
    </div>
  



    <!-- <div class="centered-container">
      <span>Powered by &copy; MJunction Services LTD.</span>
    </div> -->
   
  </div>



</ion-content>

<app-footer></app-footer>
