<ion-header [translucent]="true">
  <ion-toolbar>    
      <div class="top-header">
        <div style="align-items: center; display: flex; gap: 15px;">
          <ion-icon (click)="toggleMenu()" name="menu" style="color: rgb(0, 0, 0); font-size: 25px;"></ion-icon>
          <img src="assets/images/tatalogo.png" alt="">
        </div>
        <div>
          <img src="assets/images/ibmdlogo.png" alt="">
        </div>    </div>
      <div class='bottom-header'>
        <ion-icon (click)="goBack()" name="chevron-back" style="color: white; padding-left: 5px; font-size: 20px;"></ion-icon>
        <div style="color: white; font-weight: 600; font-size: 18px; padding-left: 10px;">View Complaint</div>
        <div>      
        </div>
      </div>
  </ion-toolbar>
</ion-header>





<ion-content [fullscreen]="true">

  <div class="flex-container"> 
    
    <div class="inputContainer">
      <div style="display: inline-flex; gap: 5px;">Source<div style="color: red;">*</div></div>
      <ion-select (ionChange)="changeSource()" [(ngModel)]="source" okText="select" class="input" placeholder="select source" >
        <ion-select-option value="sahaj">IBMD Sahaj</ion-select-option>
        <ion-select-option value="helpdesk">Helpdesk</ion-select-option>
      </ion-select>
    </div>

    <div class="inputContainer" *ngIf="roleType == 'TSL' && boolHasCAResponseYes">
      <div style="display: inline-flex; gap: 5px;">Select CA</div>
      <ion-select (ionChange)="getCaId($event)" okText="select" class="input" placeholder="select CA" [(ngModel)]="ca">
        <ion-select-option *ngFor="let ca of caListResponse" [value]="ca">{{ca.CA_Name}}</ion-select-option>
      </ion-select>
    </div>
    
    <div class="inputContainer">
      <div style="display: inline-flex; gap: 5px;">Customer</div>
      <ion-input readonly [(ngModel)]="customerName" placeholder="Press to select customer" (click)="openCustomerSelectModal()"  class="input" type="text" ></ion-input>
    </div>

    <div class="inputContainer">
      <div style="display: inline-flex; gap: 5px;">Status</div>
      <ion-select (ionChange)="changeStatus($event)" [(ngModel)]="status" okText="select" class="input" placeholder="select status" >
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="Responded">Responded</ion-select-option>
        <ion-select-option value="Open">Open</ion-select-option>
      </ion-select>
    </div>

    <div class="inputContainer">
      <div style="display: inline-flex">Start Date</div>
      <div class="input" style="display: flex; flex-direction: row;"><ion-input [(ngModel)]="selectedStartDateTime" type="text" readonly></ion-input>
        <div style="background-color: #fff; align-self: center; padding-right: 10px;" (click)="openDatetimeModal('startDate')">
          <ion-icon style="font-size: 30px;" name="calendar-outline"></ion-icon>
        </div>
      </div>
    </div>

    <div class="inputContainer" [ngClass]="selectedStartDateTime ? 'active' : 'inactive'">
      <div style="display: inline-flex">End Date</div>
      <div class="input" style="display: flex; flex-direction: row;"><ion-input [(ngModel)]="selectedEndDateTime" type="text" readonly></ion-input>
        <div style="background-color: #fff; align-self: center; padding-right: 10px;" (click)="openDatetimeModal('endDate')">
          <ion-icon style="font-size: 30px;" name="calendar-outline"></ion-icon>
        </div>
      </div>
    </div>


    <div style="display: inline-flex; align-items: center; align-self: center;">
      <div>
        <ion-button  expand="block" fill="outline" type="submit" (click)="resetFilter()">RESET</ion-button>
      </div>
      <div>
        <ion-button class="submit-button" expand="block" type="submit" (click)="search()">SEARCH</ion-button>
      </div>
    </div>




    <div class="product-price" *ngFor="let item of complaintsSearchList">

      <div class="row" *ngIf="source=='sahaj'">
        <div>Date:</div>
        <div class="text-right">{{item?.ComplaintDate}}</div>
      </div>      
      <div class="row" *ngIf="source=='helpdesk'">
        <div>Date:</div>
        <div class="text-right">{{item?.ResponseDate}}</div>
      </div>
      <div  class="row">
        <div>Customer Name:</div>
        <div class="text-right">{{item?.CustomerName}}</div>
      </div>
      <div  class="row">
        <div>Query:</div>
        <div class="text-right">{{item.Complain}}</div>
      </div>          
      <div  class="row" *ngIf="source == 'sahaj'">
        <div>Status:</div>
        <div class="text-right">{{item.Status}}</div>
      </div>         
      <div  class="row" *ngIf="source == 'helpdesk'">
        <div>Status:</div>
        <div class="text-right">{{'Closed'}}</div>
      </div>
    </div>

    <ion-infinite-scroll *ngIf="complaintsSearchList?.length>1" threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>




  </div>



    
  <ion-modal [isOpen]="isStartDateModalOpen">
    <ng-template>
      <ion-content>

        <div class="datetime-container">
          <ion-datetime
            [(ngModel)]="selectedStartDateTime"
            presentation="date"
            (ionChange)="onDateTimeChange($event,'startDate')"
            [max]="currentDate"
          ></ion-datetime>
        </div>
  

        <ion-footer>
          <ion-button expand="full" (click)="closeDatetimeModal()">Done</ion-button>
          <ion-button expand="full" (click)="closeDatetimeModal()">Cancel</ion-button>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>




  <ion-modal [isOpen]="isEndDateModalOpen">
    <ng-template>
      <ion-content>

        <div class="datetime-container">
          <ion-datetime
            [(ngModel)]="selectedEndDateTime"
            presentation="date"
            (ionChange)="onDateTimeChange($event,'endDate')"
            [max]="startDateInDTFormat"
          ></ion-datetime>
        </div>
  

        <ion-footer>
          <ion-button expand="full" (click)="closeDatetimeModal()">Done</ion-button>
          <ion-button expand="full" (click)="closeDatetimeModal()">Cancel</ion-button>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>

<app-footer></app-footer>

