.details {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-family: Montserrat;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 15px;
  color: rgb(102, 102, 102);
  margin-top: 10px;
}

.text-right {
  text-align: right;
}
