<ion-content [fullscreen]="true">
  <div class="header">
    <div class="top-header">
      <div style="align-items: center; display: flex; gap: 15px;">
        <ion-icon (click)="toggleMenu()" name="menu" style="color: rgb(0, 0, 0); font-size: 25px;"></ion-icon>
        <img src="assets/images/tatalogo.png" alt="">
      </div>
      <div>
        <img src="assets/images/ibmdlogo.png" alt="">
      </div>    </div>
    <div class='bottom-header'>
      <ion-icon (click)="goBack()" name="chevron-back" style="color: white; padding-left: 5px; font-size: 20px;"></ion-icon>
      <div style="color: white; font-weight: 600; font-size: 18px; padding-left: 10px;">Daily Visit Details</div>
      <div>      
        <!-- <ion-icon name="chevron-back" style="color: white; padding-left: 5px; font-size: 20px;"></ion-icon> -->
      </div>
    </div>
  </div>



  
  <div class="flex-container"> 
    <div class="details">
      <div class="row">
        <div>Visit Type:</div>
        <div>5056</div>
      </div>
      <div  class="row">
        <div>Visit Mode:</div>
        <div>25%</div>
      </div>
      <div  class="row">
        <div>Proprieter Name:</div>
        <div>10%</div>
      </div>
      <div  class="row">
        <div>Proprieter Phone No.:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Year Of Estalbishment:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Company Name:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Owner Name:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Owner Phone No.:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Block Name:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>District Name:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Location:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Industry Type:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Product Manufactured:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Current Year Brick Klin Firing Pan (Monthly Average):</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Last Year Brick Klin Firing Pan (Monthly Average):</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Rounds In Season (No.):</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Paya:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Bricks Per Round (No.):</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Coal Requirement In Season (MT):</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Quantity Manufactured Annually (MT):</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Quantity Required Annually (MT):</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Inventory Of Coal (MT):</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Requirements (MT):</div>
        <div>28443</div>
      </div>        
      <div  class="row">
        <div>Ghato Usage (MT):</div>
        <div>28443</div>
      </div>        
      <div  class="row">
        <div>Other Competitors:</div>
        <div>28443</div>
      </div>        
      <div  class="row">
        <div>Land Price Of Competition Coal (₹):</div>
        <div>28443</div>
      </div>        
      <div  class="row">
        <div>Avg. Price/ 1000 Bricks (₹):</div>
        <div>28443</div>
      </div>          
      <div  class="row">
        <div>Kilns In Vicinity (No.):</div>
        <div>28443</div>
      </div>          
      <div  class="row">
        <div>Inventory Of Prepared Bricks (No.):</div>
        <div>28443</div>
      </div>          
      <div  class="row">
        <div>Remarks:</div>
        <div>28443</div>
      </div>          
      <div  class="row">
        <div>Block Name:</div>
        <div>28443</div>
      </div>          
      <div  class="row">
        <div>Alternate Phone No.:</div>
        <div>28443</div>
      </div>          
      <div  class="row">
        <div>Register No.:</div>
        <div>28443</div>
      </div>                
      <div  class="row">
        <div>Last Year Firing Plan Start Month And Year:</div>
        <div>28443</div>
      </div>                   
      <div  class="row">
        <div>Last Year Firing Plan Close Month And Year::</div>
        <div>28443</div>
      </div>                   
      <div  class="row">
        <div>Current Year Firing Plan Start Month And Year::</div>
        <div>28443</div>
      </div>                   
      <div  class="row">
        <div>Current Year Firing Plan Close Month And Year::</div>
        <div>28443</div>
      </div>                   
      <div  class="row">
        <div>Chamber:</div>
        <div>28443</div>
      </div>                   
      <div  class="row">
        <div>Location Captured:</div>
        <div>28443</div>
      </div>      
      
    </div>

  </div>

  <app-footer></app-footer>
</ion-content>
