<ion-header [translucent]="true">
  <ion-toolbar>    
      <div class="top-header">
        <div style="align-items: center; display: flex; gap: 15px;">
          <ion-icon (click)="toggleMenu()" name="menu" style="color: rgb(0, 0, 0); font-size: 25px;"></ion-icon>
          <img src="assets/images/tatalogo.png" alt="">
        </div>
        <div>
          <img src="assets/images/ibmdlogo.png" alt="">
        </div>    </div>
      <div class='bottom-header'>
        <ion-icon (click)="goBack()" name="chevron-back" style="color: white; padding-left: 5px; font-size: 20px;"></ion-icon>
        <div style="color: white; font-weight: 600; font-size: 18px; padding-left: 10px;">Daily Visiit Summary Details</div>
        <div>      
        </div>
      </div>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  
  <div class="flex-container"> 
    <div class="details">
      <div class="row">
        <div>Visit Type:</div>
        <div class="text-right">{{dataForSummary?.VisitType}}</div>
      </div>
      <div  class="row">
        <div>Visit Mode:</div>
        <div class="text-right">{{dataForSummary?.VisitMode}}</div>
      </div>
      <div  class="row">
        <div>Proprieter Name:</div>
        <div class="text-right">{{dataForSummary?.ProprietorName}}</div>
      </div>
      <div  class="row">
        <div>Proprieter Phone No.:</div>
        <div class="text-right">{{dataForSummary?.PropritorPhoneNo}}</div>
      </div>      
      <div  class="row">
        <div>Year Of Estalbishment:</div>
        <div class="text-right">{{dataForSummary?.YearOfEstablishment}}</div>
      </div>      
      <div  class="row">
        <div>Company Name:</div>
        <div class="text-right">{{dataForSummary?.Visit_Customer_Name}}</div>
      </div>      
      <div  class="row">
        <div>Owner Name:</div>
        <div class="text-right">{{dataForSummary?.OwnerName}}</div>
      </div>      
      <div  class="row">
        <div>Owner Phone No.:</div>
        <div class="text-right">{{dataForSummary?.Ownerphonenumber}}</div>
      </div>      
      <div  class="row">
        <div>Block Name:</div>
        <div class="text-right">{{dataForSummary?.BlockName}}</div>
      </div>      
      <div  class="row">
        <div>District Name:</div>
        <div class="text-right">{{dataForSummary?.DistrictName}}</div>
      </div>      
      <div  class="row">
        <div>Location:</div>
        <div class="text-right">{{dataForSummary?.Location}}</div>
      </div>      
      <div  class="row">
        <div>Industry Type:</div>
        <div class="text-right">{{dataForSummary?.IndustryType}}</div>
      </div>      
      <div  class="row">
        <div>Product Manufactured:</div>
        <div class="text-right">{{dataForSummary?.Product_Manufactured}}</div>
      </div>      
      <div  class="row">
        <div>Current Year Brick Klin Firing Pan (Monthly Average):</div>
        <div class="text-right">{{dataForSummary?.Current_Firing_Plan_monthly_avg}}</div>
      </div>      
      <div  class="row">
        <div>Last Year Brick Klin Firing Pan (Monthly Average):</div>
        <div class="text-right">{{dataForSummary?.Last_Year_Firing_Plan_monthly_avg}}</div>
      </div>      
      <div  class="row">
        <div>Rounds In Season (No.):</div>
        <div class="text-right">{{dataForSummary?.noOfRoundsInSeason}}</div>
      </div>      
      <div  class="row">
        <div>Paya:</div>
        <div class="text-right">{{dataForSummary?.Paya}}</div>
      </div>      
      <div  class="row">
        <div>Bricks Per Round (No.):</div>
        <div class="text-right">{{dataForSummary?.NoOfBircksPerRound}}</div>
      </div>      
      <div  class="row">
        <div>Coal Requirement In Season (MT):</div>
        <div class="text-right">{{dataForSummary?.CoalRequirementInSeason}}</div>
      </div>      
      <div  class="row">
        <div>Quantity Manufactured Annually (MT):</div>
        <div class="text-right">{{dataForSummary?.QuantityManufacturedAnnual}}</div>
      </div>      
      <div  class="row">
        <div>Quantity Required Annually (MT):</div>
        <div class="text-right">{{dataForSummary?.QuantityRequiredAnnual}}</div>
      </div>      
      <div  class="row">
        <div>Inventory Of Coal (MT):</div>
        <div class="text-right">{{dataForSummary?.InventoryOfCoal}}</div>
      </div>      
      <div  class="row">
        <div>Requirements (MT):</div>
        <div class="text-right">{{dataForSummary?.Requirements}}</div>
      </div>        
      <div  class="row">
        <div>Ghato Usage (MT):</div>
        <div class="text-right">{{dataForSummary?.Ghato_Usage}}</div>
      </div>        
      <div  class="row">
        <div>Other Competitors:</div>
        <div class="text-right">{{dataForSummary?.Competition}}</div>
      </div>        
      <div  class="row">
        <div>Landed Price Of Competition Coal (₹):</div>
        <div class="text-right">{{dataForSummary?.LandedPriceCompetitionCoal}}</div>
      </div>        
      <div  class="row">
        <div>Avg. Price/ 1000 Bricks (₹):</div>
        <div class="text-right">{{dataForSummary?.Avg_price_perThousand_bricks}}</div>
      </div>          
      <div  class="row">
        <div>Kilns In Vicinity (No.):</div>
        <div class="text-right">{{dataForSummary?.Number_of_kilns_in_Visinity}}</div>
      </div>          
      <div  class="row">
        <div>Inventory Of Prepared Bricks (No.):</div>
        <div class="text-right">{{dataForSummary?.Inventory_Prepared_Bricks}}</div>
      </div>          
      <div  class="row">
        <div>Remarks:</div>
        <div class="text-right">{{dataForSummary?.Remarks}}</div>
      </div>          
      <div  class="row">
        <div>Block Name:</div>
        <div class="text-right">{{dataForSummary?.BlockName}}</div>
      </div>          
      <div  class="row">
        <div>Alternate Phone No.:</div>
        <div class="text-right">{{dataForSummary?.Alternatephonenumber}}</div>
      </div>          
      <div  class="row">
        <div>Register No.:</div>
        <div class="text-right">{{dataForSummary?.Ownerphonenumber}}</div>
      </div>                
      <div  class="row">
        <div>Last Year Firing Plan Start Month And Year:</div>
        <div class="text-right">{{dataForSummary?.LastYearFiringPlanStartMonthAndYear}}</div>
      </div>                   
      <div  class="row">
        <div>Last Year Firing Plan Close Month And Year:</div>
        <div class="text-right">{{dataForSummary?.LastYearFiringPlanCloseMonthAndYear}}</div>
      </div>                   
      <div  class="row">
        <div>Current Year Firing Plan Start Month And Year:</div>
        <div class="text-right">{{dataForSummary?.CurrentYearFiringPlanStartMonthAndYear}}</div>
      </div>                   
      <div  class="row">
        <div>Current Year Firing Plan Close Month And Year:</div>
        <div class="text-right">{{dataForSummary?.CurrentYearFiringPlanCloseMonthAndYear}}</div>
      </div>                   
      <div  class="row">
        <div>Chamber:</div>
        <div class="text-right">{{dataForSummary?.CHAMBER}}</div>
      </div>                   
      <div  class="row">
        <div>Location Captured:</div>
        <div (click)="openInApp()" class="text-right">{{dataForSummary?.LAT}} || {{dataForSummary?.LONG}}</div>
      </div>      
      
    </div>

  </div>
</ion-content>

<app-footer></app-footer>
