<ion-content [fullscreen]="true">
  <div class="header">
    <!-- <ion-icon (click)="toggleMenu()" name="menu" style="color: white; font-size: 25px;"></ion-icon> -->
    <ion-icon (click)="goBack()" name="chevron-back" style="color: white; padding-left: 5px; font-size: 20px;"></ion-icon>
    <div style="color: white; font-weight: 600; font-size: 18px;">Daily Visit Summary</div>
    <div>      
      <!-- <ion-icon name="chevron-back" style="color: white; padding-left: 5px; font-size: 20px;"></ion-icon> -->
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
