.submit-button {
  border-radius: 5px;
  --background: #5a7cdb;
  --color: rgb(252, 252, 252);
  --border-radius: 5px;
  --padding-top: 10px;
  --padding-bottom: 10px;
}

ion-input {
  --padding-start: 12px;
}
ion-select {
  --padding-start: 12px;
}

.datetime-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 16px;
}

ion-datetime {
  width: 100%;
}

.product-price{
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  font-family: Montserrat;

}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 12px;
  color: rgb(102, 102, 102);
  margin-top: 5px;
}

.centered-container {
  display: flex; 
  justify-content: center; 
  align-items: center;     
  text-align: center; 
  margin-top: 60%;
  margin-bottom: 0px;
  font-family: Montserrat;
  color: #7e7e7e;
  font-size: 15px;
}


