<ion-content [fullscreen]="true">
  <div class="header">
    <div class="top-header">
      <div style="align-items: center; display: flex; gap: 15px;">
        <ion-icon (click)="toggleMenu()" name="menu" style="color: rgb(0, 0, 0); font-size: 25px;"></ion-icon>
        <img src="assets/images/tatalogo.png" alt="">
      </div>
      <div>
        <img src="assets/images/ibmdlogo.png" alt="">
      </div>    </div>
    <div class='bottom-header'>
      <ion-icon (click)="goBack()" name="chevron-back" style="color: white; padding-left: 5px; font-size: 20px;"></ion-icon>
      <div style="color: white; font-weight: 600; font-size: 18px; padding-left: 10px;">Customer Dashboard</div>
      <div>      
        <!-- <ion-icon name="chevron-back" style="color: white; padding-left: 5px; font-size: 20px;"></ion-icon> -->
      </div>
    </div>
  </div>


  <div class="flex-container">    

    <div class="inputContainer">
      <div style="display: inline-flex">Select District <div style="color: red;">*</div></div>
      <ion-select class="input" placeholder="Select one">
        <ion-select-option value="option1">Option 1</ion-select-option>
        <ion-select-option value="option2">Option 2</ion-select-option>
        <ion-select-option value="option3">Option 3</ion-select-option>
      </ion-select>
    </div>

    <div class="inputContainer">
      <div style="display: inline-flex">Start Date <div style="color: red; padding-left: 5px;">*</div></div>
      <div class="input" style="display: flex; flex-direction: row;"><ion-input type="text" readonly></ion-input>
        <div style="background-color: #fff; align-self: center; padding-right: 10px;" (click)="openDatetimeModal()">
          <ion-icon style="font-size: 30px;" name="calendar-outline"></ion-icon>
        </div>
      </div>
    </div>

    <div class="inputContainer">
      <div style="display: inline-flex">End Date <div style="color: red; padding-left: 5px;">*</div></div>
      <div class="input" style="display: flex; flex-direction: row;"><ion-input type="text" readonly></ion-input>
        <div style="background-color: #fff; align-self: center; padding-right: 10px;" (click)="openDatetimeModal()">
          <ion-icon style="font-size: 30px;" name="calendar-outline"></ion-icon>
        </div>
      </div>
    </div>


    <div style="display: inline-flex; align-items: center; align-self: center;">
      <div>
        <ion-button  expand="block" fill="outline" type="submit">RESET</ion-button>
      </div>
      <div>
        <ion-button class="submit-button" expand="block" type="submit">SEARCH</ion-button>
      </div>
    </div>


    <div class="product-price">
      <div class="row">
        <div>Date Of Visit:</div>
        <div>5056</div>
      </div>
      <div  class="row">
        <div>Agent Name:</div>
        <div>25%</div>
      </div>
      <div  class="row">
        <div>Customer Name:</div>
        <div>10%</div>
      </div>
      <div  class="row">
        <div>Customer Type:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Customer Type:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Location:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>District:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div>Industry Type:</div>
        <div>28443</div>
      </div>      
      <div  class="row">
        <div></div>
        <div [routerLink]="['/','daily-visit-summary','1']" style="color: rgb(6, 78, 138); text-decoration: underline;">Check Summary</div>
      </div>
    </div>

  </div>







  
  
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>

        <div class="datetime-container">
          <ion-datetime
            [(ngModel)]="selectedDateTime"
            presentation="date"
            (ionChange)="onDateTimeChange($event)"
          ></ion-datetime>
        </div>
  

        <ion-footer>
          <ion-button expand="full" (click)="closeDatetimeModal()">Done</ion-button>
          <ion-button expand="full" (click)="closeDatetimeModal()">Cancel</ion-button>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>





  <app-footer></app-footer>
</ion-content>
