<div class="footer">
  <div class="icon-with-text" (click)="navigateTo('landing-page')">
    <ion-icon name="home-outline"></ion-icon>
    <span>Home</span>
  </div>
  <div class="icon-with-text">
    <ion-icon name="calendar-outline"></ion-icon>
    <span>Send Booking</span>
  </div>
  <div class="icon-with-text">
    <ion-icon name="checkmark-done-outline"></ion-icon>
    <span>Booking Status</span>
  </div>
  <div class="icon-with-text">
    <ion-icon name="log-out-outline"></ion-icon>
    <span>Log Out</span>
  </div>
</div>