.centered-container {
    display: flex; 
    justify-content: center; 
    align-items: center;     
    text-align: center; 
    margin-top: 90%;
    margin-bottom: 0px;
    font-family: Montserrat;
    color: #7e7e7e;
    font-size: 15px;
  }